* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #862353, #2a5298);
}

.heading {
    font-size: 2.2em;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

.calculator {
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: center;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.operator {
    background: #ff9500;
}

.operator:hover {
    background: #e08900;
}

.equal {
    background: #34c759;
    grid-column: span 2;
}

.equal:hover {
    background: #2aad50;
}

@media (max-width: 400px) {
    .calculator {
        width: 91%;
    }
}
